@import url('https://fonts.googleapis.com/css?family=Heebo|Open+Sans|Quicksand|Permanent+Marker');


body {
font-family: 'Open Sans';
height: 100vh;
width: 100vw;
display: block;
}

.map-container {
  position: absolute;
  right: 0
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-div {
  display: block;
}

.header-bar{
  border: solid, #e9d0b4;
  background-color: #EBECEC;
  padding-bottom: 25px;
  padding-top: 30px;
  margin-top: 0px;
  height: 70px;
  text-align: center;
}

.explore-page {
  text-align: center;
}

.landing-page{
  background-image: url('/home/cyphers/development/code/project/new-capstone/new-capstone-project/client/src/Images/unsplash9000.jpg');
  background-size: contain; /*
  width: 100vw;
  /* background-size: cover; */
  opacity: 0.9;
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-page {
  background-image: url('/home/cyphers/development/code/project/new-capstone/new-capstone-project/client/src/Images/john-lee-oMneOBYhJxY-unsplash.jpg');
  padding-top: 1400px;
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trailcard {
  color:#EBECEC;
  padding-left: 10px;
}

.trailscontainer {
  left: 10;
  padding-left: 10;
}

.signup-page {
  background-image: url('/home/cyphers/development/code/project/new-capstone/new-capstone-project/client/src/Images/unsplash3.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.user-container {
  background-image: url('/home/cyphers/development/code/project/new-capstone/new-capstone-project/client/src/Images/unsplash4.jpg');
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-page {
  background-image: url('/home/cyphers/development/code/project/new-capstone/new-capstone-project/client/src/Images/unsplash0.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-div {
  position: fixed;
  display: center;
  bottom: 50vh;
  left: 50vh;
}

.welcome-message {
  font-size: 40px;
  text-align: center;
  font-weight: 70;
  letter-spacing: .1em;
  font-family: 'Open Sans';
  color: #EBECEC;
  background-color: transparent;
  bottom: 40vh;
  left: 40vw;
  position: fixed;
  display: center;
  /* min-height: 100vh; doesn't do anything*/
}

/* .explore-btn {
  bottom: 40vw;
  left: 50vw;
  display: center;
  position: fixed;
  font-family: 'Open Sans';
} */