@import url('https://fonts.googleapis.com/css?family=Heebo|Open+Sans|Quicksand|Permanent+Marker');


body {
  text-align: center;
  font-family: 'Open Sans';
  height: 100vh;
  width: 100vw;
  display: block;
}

.map-container {
  position: absolute;
  right: 0
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-page {
  background-image: url('https://images.unsplash.com/photo-1519904981063-b0cf448d479e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-div {
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  opacity: 0.3;
  color: white;
  width: fit-content;
  margin: auto;
  align-content: center;
}

/* .black-text {
  color:#200742;
} */

.explore-page {
  background-image: url('https://images.unsplash.com/photo-1579408795979-966a21467a34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: contain;
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-div {
  display: block;
}

.header-bar {
  text-align: center;
  border: solid, #e9d0b4;
  background-color: #EBECEC;
  padding-bottom: 25px;
  padding-top: 30px;
  margin-top: 0px;
  height: 70px;
  text-align: center;
}


.landing-page {
  background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1803&q=80');
  background-size: contain;
  opacity: 0.9;
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.link {
  font-weight: bold;
}

.login-page {
  background-image: url('https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1411&q=80');
  padding-top: 1400px;
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logout-button {
  
  bottom: 50vh;
  left: 90vh;
  display: center;
  position: absolute;
}

.trailcard {
  color: #EBECEC;
  padding-left: 10px;
}

.trailscontainer {
  left: 10;
  padding-left: 10;
}

.signup-page {
  background-image: url('https://images.unsplash.com/19/nomad.JPG?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1398&q=80');
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.user-container {
  background-image: url('https://images.unsplash.com/photo-1492133969098-09ba49699f47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80');
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.form-div {
  position: fixed;
  display: center;
  bottom: 50vh;
  left: 50vh;
}

.welcome-message {
  font-size: 40px;
  text-align: center;
  font-weight: 70;
  letter-spacing: .1em;
  font-family: 'Open Sans';
  color: #EBECEC;
  background-color: transparent;
  bottom: 40vh;
  left: 30vw;
  position: absolute;
  display: center;
}

/* .explore-btn {
  bottom: 40vw;
  left: 50vw;
  display: center;
  position: fixed;
  font-family: 'Open Sans';
} */